*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgba(97, 32, 122, 0.9);
    padding: 20px 40px;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav h1{
    display: flex;
    gap: 30px;
    list-style: none;
}

.btn:hover{
    background-color: #050505;
}

.btn_login{
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
}

header nav ul a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.btn{
    color: white;
    text-decoration: none;
    padding: 10px;
}

.btn_login{
    color: white;
    text-decoration: none;
    padding: 2px;
}

.logo{
    height: 80px;
    gap: 30px;
}

.nav_links{
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav_links li{
    list-style: none;
}

.titulo_saiba, p{
    color: white;
    padding: 50px 60px;
    font-size: 1.2rem;
}

body{
    text-align: center;
        background-image: radial-gradient(
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.8)
    ), url(imagens/imagem_segurança_FUNDO.jpg);
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: center;
}

.img_segurança{
    width: 400px;
    opacity: 0;
    transform: translateX(100px);
    transition: all 2s ease;
}

.img_segurança.active{
    opacity: 1;
    transform: translateX(0);
}

@media (max-width: 768px) {
    header nav {
        flex-direction: column;
        gap: 15px;
    }
}
